<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Requirements" data-toc-modified-id="Requirements-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Requirements</a></span></li><li><span><a href="#Environment" data-toc-modified-id="Environment-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Environment</a></span></li><li><span><a href="#import" data-toc-modified-id="import-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>import</a></span></li><li><span><a href="#古いフォーマットのエクセルを変換する" data-toc-modified-id="古いフォーマットのエクセルを変換する-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>古いフォーマットのエクセルを変換する</a></span></li><li><span><a href="#ファイルを開く" data-toc-modified-id="ファイルを開く-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>ファイルを開く</a></span></li><li><span><a href="#必要なシート名のリストを算出する" data-toc-modified-id="必要なシート名のリストを算出する-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>必要なシート名のリストを算出する</a></span></li><li><span><a href="#定数定義" data-toc-modified-id="定数定義-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>定数定義</a></span><ul class="toc-item"><li><span><a href="#カラム名" data-toc-modified-id="カラム名-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>カラム名</a></span></li><li><span><a href="#列番号" data-toc-modified-id="列番号-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>列番号</a></span></li><li><span><a href="#行番号関係" data-toc-modified-id="行番号関係-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>行番号関係</a></span></li><li><span><a href="#ラベルや種別値、調整値など" data-toc-modified-id="ラベルや種別値、調整値など-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span>ラベルや種別値、調整値など</a></span></li></ul></li><li><span><a href="#ヘルパー関数の用意" data-toc-modified-id="ヘルパー関数の用意-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>ヘルパー関数の用意</a></span></li><li><span><a href="#エクセルの内容と定数のチェック" data-toc-modified-id="エクセルの内容と定数のチェック-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>エクセルの内容と定数のチェック</a></span></li><li><span><a href="#データの抽出作業" data-toc-modified-id="データの抽出作業-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>データの抽出作業</a></span></li></ul></div>

# Requirements

In [1]:
!pip install openpyxl==2.5.12
!pip install pyexcel==0.5.10
!pip install pyexcel-xls==0.5.8
!pip install pyexcel-xlsx==0.5.6

Collecting openpyxl==2.5.12
  Downloading https://files.pythonhosted.org/packages/08/8a/509eb6f58672288da9a5884e1cc7e90819bc8dbef501161c4b40a6a4e46b/openpyxl-2.5.12.tar.gz (173kB)
Collecting jdcal (from openpyxl==2.5.12)
  Downloading https://files.pythonhosted.org/packages/a0/38/dcf83532480f25284f3ef13f8ed63e03c58a65c9d3ba2a6a894ed9497207/jdcal-1.4-py2.py3-none-any.whl
Collecting et_xmlfile (from openpyxl==2.5.12)
  Downloading https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz
Building wheels for collected packages: openpyxl, et-xmlfile
  Running setup.py bdist_wheel for openpyxl: started
  Running setup.py bdist_wheel for openpyxl: finished with status 'done'
  Stored in directory: C:\Users\antis\AppData\Local\pip\Cache\wheels\95\b0\38\e5d13093b588f87177df648c06d07d4b7221f2c17d544cde4c
  Running setup.py bdist_wheel for et-xmlfile: started
  Running setup.py bdist_wheel for et-xmlfile: finished with status 'done'
  Stored in directory: C:\Users\antis\AppData\Local\pip\Cache\wheels\2a\77\35\0da0965a057698121fc7d8c5a7a9955cdbfb3cc4e2423cad39
Successfully built openpyxl et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4 openpyxl-2.5.12

You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Collecting pyexcel==0.5.10
  Downloading https://files.pythonhosted.org/packages/16/d1/a9f37f3293a7892fc544008951f8e40d6799e2c78b3733de1bc118a22e43/pyexcel-0.5.10-py2.py3-none-any.whl (82kB)
Collecting texttable>=0.8.2 (from pyexcel==0.5.10)
  Downloading https://files.pythonhosted.org/packages/bd/a8/45aa1c64f0aea4967766d9b46be3c0b03b096d8fb8c3cfe119884cfeed5e/texttable-1.5.0.tar.gz
Collecting lml>=0.0.4 (from pyexcel==0.5.10)
  Downloading https://files.pythonhosted.org/packages/2f/33/0708f7ceeedde222a14ada679c1b8fd118b3b2325024ef75c434aefe4857/lml-0.0.7-py2.py3-none-any.whl
Collecting pyexcel-io>=0.5.11 (from pyexcel==0.5.10)
  Downloading https://files.pythonhosted.org/packages/10/65/de62f5f76c6e3f0d601432784a404ae8f2680647972e59f616b1b8072007/pyexcel_io-0.5.11-py2.py3-none-any.whl
Building wheels for collected packages: texttable
  Running setup.py bdist_wheel for texttable: started
  Running setup.py bdist_wheel for texttable: finished with status 'done'
  Stored in directory: C:\Users\antis\AppData\Local\pip\Cache\wheels\5a\6c\5d\76ac3d8f6107535ff4ac20bfe6e3795e5093a8b4607daa3bc6
Successfully built texttable
Installing collected packages: texttable, lml, pyexcel-io, pyexcel
Successfully installed lml-0.0.7 pyexcel-0.5.10 pyexcel-io-0.5.11 texttable-1.5.0

You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Collecting pyexcel-xls==0.5.8
  Downloading https://files.pythonhosted.org/packages/74/39/43be0b99c2c0534690a97afa723b6cc39dd5fa4b0e71b865bcc4e1455fc0/pyexcel_xls-0.5.8-py2.py3-none-any.whl
Collecting xlrd (from pyexcel-xls==0.5.8)
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
Requirement already satisfied: pyexcel-io>=0.5.3 in c:\users\antis\miniconda3\lib\site-packages (from pyexcel-xls==0.5.8) (0.5.11)
Collecting xlwt (from pyexcel-xls==0.5.8)
  Downloading https://files.pythonhosted.org/packages/44/48/def306413b25c3d01753603b1a222a011b8621aed27cd7f89cbc27e6b0f4/xlwt-1.3.0-py2.py3-none-any.whl (99kB)
Requirement already satisfied: lml>=0.0.4 in c:\users\antis\miniconda3\lib\site-packages (from pyexcel-io>=0.5.3->pyexcel-xls==0.5.8) (0.0.7)
Installing collected packages: xlrd, xlwt, pyexcel-xls
Successfully installed pyexcel-xls-0.5.8 xlrd-1.2.0 xlwt-1.3.0

You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Collecting pyexcel-xlsx==0.5.6
  Downloading https://files.pythonhosted.org/packages/db/cf/6053536abfcf73d65f5c16173f6c8b3e77a7b7949bc03385f55194e150a4/pyexcel_xlsx-0.5.6-py2.py3-none-any.whl
Requirement already satisfied: openpyxl>=2.5.0 in c:\users\antis\miniconda3\lib\site-packages (from pyexcel-xlsx==0.5.6) (2.5.12)
Requirement already satisfied: pyexcel-io>=0.5.3 in c:\users\antis\miniconda3\lib\site-packages (from pyexcel-xlsx==0.5.6) (0.5.11)
Requirement already satisfied: et-xmlfile in c:\users\antis\miniconda3\lib\site-packages (from openpyxl>=2.5.0->pyexcel-xlsx==0.5.6) (1.0.1)
Requirement already satisfied: jdcal in c:\users\antis\miniconda3\lib\site-packages (from openpyxl>=2.5.0->pyexcel-xlsx==0.5.6) (1.4)
Requirement already satisfied: lml>=0.0.4 in c:\users\antis\miniconda3\lib\site-packages (from pyexcel-io>=0.5.3->pyexcel-xlsx==0.5.6) (0.0.7)
Installing collected packages: pyexcel-xlsx
Successfully installed pyexcel-xlsx-0.5.6

You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

# Environment

In [2]:
!python -V

Python 3.6.5 :: Anaconda, Inc.

# import

In [4]:
import os
from datetime import datetime

import openpyxl as px
import pandas as pd
import numpy as np
import pyexcel

# 古いフォーマットのエクセルを変換する

In [5]:
def convert_xls_to_xlsx(xls_file_path, dest_path):
    """
    古いxlsのフォーマットのファイルを、xlsxのフォーマットに変換を行う。
    
    Notes
    -----
    変換の処理の都合、図や画像・フォント情報などは保持されない。ETL
    などでの使用のみを想定すること。
    
    Parameters
    ----------
    xls_file_path : str
        変換対象のxlsファイルのパス。
    dest_path : str
        変換後のファイルの保存先のパス。
    
    Raises
    ------
    ValueError
        対象のファイルが存在しない場合。
    """
    if not os.path.exists(xls_file_path):
        err_msg = '対象のファイルが存在しません : %s' % xls_file_path
        raise ValueError(err_msg)
    pyexcel.save_book_as(
        file_name=xls_file_path,
        dest_file_name=dest_path)

In [6]:
convert_xls_to_xlsx(
    xls_file_path='./総務省統計データ.xls',
    dest_path='./総務省統計データ.xlsx')

# ファイルを開く

In [7]:
def open_as_read_only(file_path):
    """
    エクセルファイルを、読み取り専用・且つ関数を無効化した状態で開く。
    
    Notes
    -----
    値を取得する際に、関数の文字列ではなく表示上の数値を取得したい
    ため、data_onlyにTrueを設定している。
    
    Parameters
    ----------
    file_path : str
        対象のエクセルファイルのパス。
    
    Returns
    -------
    wb : openpyxl.workbook.Workbook
        開いた対象のエクセルのワークブックオブジェクト。
    
    Raises
    ------
    ValueError
        対象のエクセルファイルが存在しない場合。
    """
    if not os.path.exists(file_path):
        err_msg = '対象のファイルが存在しません : %s' % file_path
        raise ValueError(err_msg)
    wb = px.load_workbook(
        filename=file_path, read_only=True, data_only=True)
    return wb

In [8]:
wb = open_as_read_only(file_path='./総務省統計データ.xlsx')

# 必要なシート名のリストを算出する

In [9]:
sheet_name_list = []
for sheet_name in wb.sheetnames:
    is_in = '参考' in sheet_name
    if is_in:
        continue
    
    is_in = '既公表値' in sheet_name
    if is_in:
        continue
    
    is_in = '地域区分' in sheet_name
    if is_in:
        continue
    
    sheet_name_list.append(sheet_name)

In [10]:
sheet_name_list

['全国', '北海道', '東北', '南関東', '北関東・甲信', '北陸', '東海', '近畿', '中国', '四国', '九州', '沖縄']

# 定数定義

## カラム名

In [11]:
CN_AREA = 'area'
CN_YEAR = 'year'
CN_QUARTER = 'quarter'
CN_GENDER = 'gender'
CN_POPULATION_AGED_15_YEARS_OLD_AND_OVER = \
    'population_aged_15_years_old_and_over'
CN_LABOUR_FORCE_TOTAL = 'labour_force_total'
CN_LABOUR_FORCE_EMPLOYED_TOTAL = 'labour_force_employed_total'
CN_LABOUR_FORCE_EMPLOYED_SELF_EMPLOYED = 'labour_force_employed_self_employed'
CN_LABOUR_FORCE_EMPLOYED_EMPLOYEE = 'labour_force_employed_employee'
CN_LABOUR_FOECE_UNEMPLOYED = 'labour_force_unemployed'
CN_NOT_IN_LABOUR_FORCE = 'not_in_labour_force'
CN_LABOUR_FORCE_PARTICIPATION_RATE = 'labour_force_participation_rate'
CN_EMPLOYMENT_RATE = 'employment_rate'
CN_UNEMPLOYMENT_RATE = 'unemployment_rate'

COLUMN_NAME_LIST = [
    CN_AREA,
    CN_YEAR,
    CN_QUARTER,
    CN_GENDER,
    CN_POPULATION_AGED_15_YEARS_OLD_AND_OVER,
    CN_LABOUR_FORCE_TOTAL,
    CN_LABOUR_FORCE_EMPLOYED_TOTAL,
    CN_LABOUR_FORCE_EMPLOYED_SELF_EMPLOYED,
    CN_LABOUR_FORCE_EMPLOYED_EMPLOYEE,
    CN_LABOUR_FOECE_UNEMPLOYED,
    CN_NOT_IN_LABOUR_FORCE,
    CN_LABOUR_FORCE_PARTICIPATION_RATE,
    CN_EMPLOYMENT_RATE,
    CN_UNEMPLOYMENT_RATE,
]

## 列番号

In [12]:
COLUMN_NUM_YEAR = 1
COLUMN_NUM_QUARTER = 2

# 各性別の列の開始列番号。
COLUMN_NUM_GENDER_START_BOTH = 4
COLUMN_NUM_GENDER_START_MALE = 14
COLUMN_NUM_GENDER_START_FEMALE = 24

# 各項目の列番号加算分。性別ごとに同じ順番で設定されるため、これらの
# 定数 + 性別ごとの列番号で、対象の項目の列番号となる。
ADDITIONAL_C_NUM_POPULATION_AGED_15_YEARS_OLD_AND_OVER = 0
ADDITIONAL_C_NUM_LABOUR_FORCE_TOTAL = 1
ADDITIONAL_C_NUM_LABOUR_FORCE_EMPLOYED_TOTAL = 2
ADDITIONAL_C_NUM_LABOUR_FORCE_EMPLOYED_SELF_EMPLOYED = 3
ADDITIONAL_C_NUM_LABOUR_FORCE_EMPLOYED_EMPLOYEE = 4
ADDITIONAL_C_NUM_LABOUR_FOECE_UNEMPLOYED = 5
ADDITIONAL_C_NUM_NOT_IN_LABOUR_FORCE = 6
ADDITIONAL_C_NUM_LABOUR_FORCE_PARTICIPATION_RATE = 7
ADDITIONAL_C_NUM_EMPLOYMENT_RATE = 8
ADDITIONAL_C_NUM_UNEMPLOYMENT_RATE = 9

## 行番号関係

In [13]:
# 西暦の記載してある行番号加算分。
ADDITIONAL_R_NUM_YEAR = 1

# データの開始行番号。
START_ROW_NUM = 11

## ラベルや種別値、調整値など

In [14]:
QUARTER_LABEL_1 = '1～3月'
QUARTER_LABEL_2 = '4～6月'
QUARTER_LABEL_3 = '7～9月'
QUARTER_LABEL_4 = '10～12月'

QUARTER_TYPE_1 = 1
QUARTER_TYPE_2 = 2
QUARTER_TYPE_3 = 3
QUARTER_TYPE_4 = 4

LABEL_KEY_QUARTER_TYPE_DICT = {
    QUARTER_LABEL_1: QUARTER_TYPE_1,
    QUARTER_LABEL_2: QUARTER_TYPE_2,
    QUARTER_LABEL_3: QUARTER_TYPE_3,
    QUARTER_LABEL_4: QUARTER_TYPE_4,
}

TYPE_KEY_QUARTER_LABEL_DICT = {
    QUARTER_TYPE_1: QUARTER_LABEL_1,
    QUARTER_TYPE_2: QUARTER_LABEL_2,
    QUARTER_TYPE_3: QUARTER_LABEL_3,
    QUARTER_TYPE_4: QUARTER_LABEL_4,
}

In [15]:
GENDER_TYPE_BOTH = 1
GENDER_TYPE_MALE = 2
GENDER_TYPE_FEMALE = 3

In [16]:
# 整数の値に乗算しておく数値設定。
INT_MULTIPLY_VAL = 10000

# ヘルパー関数の用意

In [17]:
def get_cell_value_str(cell, strip=True):
    """
    対象のCellの値を文字列で取得する。
    
    Parameters
    ----------
    cell : openpyxl.cell.read_only.ReadOnlyCell or 
           openpyxl.cell.read_only.EmptyCell
        対象のセルのオブジェクト。
    strip : bool, default True
        文字列の先頭と末尾の余分な文字列（スペースやタブなど）を
        削除するかどうかの真偽値。
    
    Returns
    -------
    cell_value_str : str
        取得結果のセルの値の文字列。空のセルや値がNoneの場合には
        空文字が設定される。
    """
    if isinstance(cell, px.cell.read_only.EmptyCell):
        return ''
    if cell.value is None:
        return ''
    cell_value_str = str(cell.value)
    if strip:
        cell_value_str = cell_value_str.strip()
    return cell_value_str

In [18]:
def is_numeric_cell_value(ws, row_num, column_num):
    """
    対象のセルの値が、数値のセルかどうか（float型でキャストできる
    値かどうか）の真偽値を取得する。
    
    Parameters
    ----------
    ws : openpyxl.worksheet.read_only.ReadOnlyWorksheet
        対象のシート。
    row_num : int
        対象のセルの行番号。
    column_num : int
        対象のセルの列番号。
    
    Returns
    -------
    result : bool
        セルの値が数値の場合にはTrueが設定される。
    """
    cell = ws.cell(row=row_num, column=column_num)
    cell_value_str = get_cell_value_str(cell=cell)
    try:
        float(cell_value_str)
    except Exception:
        return False
    return True

In [19]:
def get_data_last_row_num(ws):
    """
    対象のシートの、データの最終行を算出する。数値のデータの先頭の
    列で、対象の行が数値ではなくなった行で判定する。
    
    Parameters
    ----------
    ws : openpyxl.worksheet.read_only.ReadOnlyWorksheet
        対象のシート。
    
    Returns
    -------
    last_row_num : int
        算出された最終行番号。
    """
    column_num = COLUMN_NUM_GENDER_START_BOTH
    current_target_row = START_ROW_NUM
    while True:
        is_numeric = is_numeric_cell_value(
            ws=ws, row_num=current_target_row, column_num=column_num)
        if not is_numeric:
            return current_target_row - 1
        current_target_row += 1

In [20]:
ws = wb[wb.sheetnames[0]]

In [21]:
get_data_last_row_num(ws=ws)

153

# エクセルの内容と定数のチェック

In [22]:
def assert_year_val(ws, column_num, row_first, row_last):
    """
    対象のシートの年の内容の記述が想定した値になっているかどうかの
    チェックを行う。
    
    Parameters
    ----------
    ws : openpyxl.worksheet.read_only.ReadOnlyWorksheet
        対象のシート。
    column_num : int
        対象のカラム番号。
    row_first : int
        データの先頭の行番号。
    row_last : int
        データの最終行の行番号。
    
    Raises
    ------
    AssertionError
        想定した値になっていない場合。
    """
    target_row_num = row_first + 1
    while target_row_num <= row_last:
        assert is_numeric_cell_value(
            ws=ws, row_num=target_row_num, column_num=column_num)
        cell = ws.cell(row=target_row_num, column=column_num)
        cell_value_str = get_cell_value_str(cell=cell)
        assert len(cell_value_str) == 4
        target_row_num += 4

In [23]:
def assert_quarter_label(ws, column_num, row_first, row_last):
    """
    対象のシートの四半期のラベルの内容の記述が想定した
    値になっているかどうかのチェックを行う。
    
    Parameters
    ----------
    ws : openpyxl.worksheet.read_only.ReadOnlyWorksheet
        対象のシート。
    column_num : int
        対象のカラム番号。
    row_first : int
        データの先頭の行番号。
    row_last : int
        データの最終行の行番号。
    
    Raises
    ------
    AssertionError
        想定した値になっていない場合。
    """
    target_row_num = row_first
    quarter_label_list = [
        QUARTER_LABEL_1, QUARTER_LABEL_2, QUARTER_LABEL_3, QUARTER_LABEL_4,
    ]
    while target_row_num <= row_last:
        for i, quarter_label in enumerate(quarter_label_list):
            cell = ws.cell(row=target_row_num + i, column=column_num)
            assert get_cell_value_str(cell=cell) == quarter_label
        
        target_row_num += len(quarter_label_list)

In [24]:
def assert_values_are_numeric_and_label(
        ws, column_num, row_first, row_last, expected_eng_label):
    """
    対象のシートの指定の列の各値が数値になっていることと、英語のラベル
    表記が想定したものになっているか（ずれていないか）のチェックを
    行う。
    
    Parameters
    ----------
    ws : openpyxl.worksheet.read_only.ReadOnlyWorksheet
        対象のシート。
    column_num : int
        対象のカラム番号。
    row_first : int
        データの先頭の行番号。
    row_last : int
        データの最終行の行番号。
    expected_eng_label : str
        対象の列の英語のラベルの想定値。
    
    Raises
    ------
    AssertionError
        想定した値になっていない場合。
    """
    ENGLISH_LABEL_ROW = 10
    cell = ws.cell(row=ENGLISH_LABEL_ROW, column=column_num)
    english_label = get_cell_value_str(cell=cell)
    assert english_label == expected_eng_label
    
    target_row_num = row_first
    while target_row_num <= row_last:
        is_numeric = is_numeric_cell_value(
            ws=ws, row_num=target_row_num, column_num=column_num)
        assert is_numeric
        target_row_num += 1

In [35]:
VALUE_COLUMN_INFO_DF = pd.DataFrame(
    columns=['additional_column_num', 'expected_eng_label', 'column_name',
             'dtype'],
    data=[{
        'additional_column_num': ADDITIONAL_C_NUM_POPULATION_AGED_15_YEARS_OLD_AND_OVER,
        'expected_eng_label': 'Population aged 15 years old and over',
        'column_name': CN_POPULATION_AGED_15_YEARS_OLD_AND_OVER,
        'dtype': int,
    }, {
        'additional_column_num': ADDITIONAL_C_NUM_LABOUR_FORCE_TOTAL,
        'expected_eng_label': 'Total',
        'column_name': CN_LABOUR_FORCE_TOTAL,
        'dtype': int,
    }, {
        'additional_column_num': ADDITIONAL_C_NUM_LABOUR_FORCE_EMPLOYED_TOTAL,
        'expected_eng_label': 'Employed  person',
        'column_name': CN_LABOUR_FORCE_EMPLOYED_TOTAL,
        'dtype': int,
    }, {
        'additional_column_num': ADDITIONAL_C_NUM_LABOUR_FORCE_EMPLOYED_SELF_EMPLOYED,
        'expected_eng_label': 'Self- employed worker',
        'column_name': CN_LABOUR_FORCE_EMPLOYED_SELF_EMPLOYED,
        'dtype': int,
    }, {
        'additional_column_num': ADDITIONAL_C_NUM_LABOUR_FORCE_EMPLOYED_EMPLOYEE,
        'expected_eng_label': 'Employee',
        'column_name': CN_LABOUR_FORCE_EMPLOYED_EMPLOYEE,
        'dtype': int,
    }, {
        'additional_column_num': ADDITIONAL_C_NUM_LABOUR_FOECE_UNEMPLOYED,
        'expected_eng_label': 'Unemployed person',
        'column_name': CN_LABOUR_FOECE_UNEMPLOYED,
        'dtype': int,
    }, {
        'additional_column_num': ADDITIONAL_C_NUM_NOT_IN_LABOUR_FORCE,
        'expected_eng_label': 'Not in labour force',
        'column_name': CN_NOT_IN_LABOUR_FORCE,
        'dtype': int,
    }, {
        'additional_column_num': ADDITIONAL_C_NUM_LABOUR_FORCE_PARTICIPATION_RATE,
        'expected_eng_label': 'Labour force participation rate  (Percent)',
        'column_name': CN_LABOUR_FORCE_PARTICIPATION_RATE,
        'dtype': float,
    }, {
        'additional_column_num': ADDITIONAL_C_NUM_EMPLOYMENT_RATE,
        'expected_eng_label': 'Employment rate  (Percent)',
        'column_name': CN_EMPLOYMENT_RATE,
        'dtype': float,
    }, {
        'additional_column_num': ADDITIONAL_C_NUM_UNEMPLOYMENT_RATE,
        'expected_eng_label': 'Unemployment rate  (Percent)',
        'column_name': CN_UNEMPLOYMENT_RATE,
        'dtype': float,
    }])

In [36]:
VALUE_COLUMN_INFO_DF

,additional_column_num,expected_eng_label,column_name,dtype
0,0,Population aged 15 years old and over,population_aged_15_years_old_and_over,<class 'int'>
1,1,Total,labour_force_total,<class 'int'>
2,2,Employed person,labour_force_employed_total,<class 'int'>
3,3,Self- employed worker,labour_force_employed_self_employed,<class 'int'>
4,4,Employee,labour_force_employed_employee,<class 'int'>
5,5,Unemployed person,labour_force_unemployed,<class 'int'>
6,6,Not in labour force,not_in_labour_force,<class 'int'>
7,7,Labour force participation rate (Percent),labour_force_participation_rate,<class 'float'>
8,8,Employment rate (Percent),employment_rate,<class 'float'>
9,9,Unemployment rate (Percent),unemployment_rate,<class 'float'>

In [27]:
def assert_target_gender_type_value_columns(
        ws, row_first, row_last, column_num_gender_start):
    """
    対象の性別ごとの表に対して、各列の値や想定ラベルのチェックを行う。
    
    Parameters
    ----------
    ws : openpyxl.worksheet.read_only.ReadOnlyWorksheet
        対象のシート。
    row_first : int
        データの先頭の行番号。
    row_last : int
        データの最終行の行番号。
    column_num_gender_start : int
        対象の性別種別ごとの表の開始列番号。以下の定数の値を指定する。
        - COLUMN_NUM_GENDER_START_BOTH
        - COLUMN_NUM_GENDER_START_MALE
        - COLUMN_NUM_GENDER_START_FEMALE
    
    Raises
    ------
    AssertionError
        想定した値になっていない場合。
    """
    for index, sr in VALUE_COLUMN_INFO_DF.iterrows():
        column_num = column_num_gender_start + int(sr['additional_column_num'])
        expected_eng_label = sr['expected_eng_label']
        assert_values_are_numeric_and_label(
            ws=ws, column_num=column_num, row_first=row_first,
            row_last=row_last, expected_eng_label=expected_eng_label)

In [56]:
for sheet_name in sheet_name_list:
    print(datetime.now(), sheet_name, 'started.')
    ws = wb[sheet_name]
    row_last = get_data_last_row_num(ws=ws)
    kwargs = {
        'ws': ws,
        'row_first': START_ROW_NUM,
        'row_last': row_last,
    }
    
    assert_year_val(column_num=COLUMN_NUM_YEAR, **kwargs)
    assert_quarter_label(column_num=COLUMN_NUM_QUARTER, **kwargs)
    assert_target_gender_type_value_columns(
        column_num_gender_start=COLUMN_NUM_GENDER_START_BOTH,
        **kwargs)
    assert_target_gender_type_value_columns(
        column_num_gender_start=COLUMN_NUM_GENDER_START_MALE,
        **kwargs)
    assert_target_gender_type_value_columns(
        column_num_gender_start=COLUMN_NUM_GENDER_START_FEMALE,
        **kwargs)

2018-12-22 07:07:22.275626 全国 started.
2018-12-22 07:13:32.512787 北海道 started.
2018-12-22 07:19:48.347552 東北 started.
2018-12-22 07:26:47.333882 南関東 started.
2018-12-22 07:32:58.318939 北関東・甲信 started.
2018-12-22 07:40:08.727855 北陸 started.
2018-12-22 07:47:32.864697 東海 started.
2018-12-22 07:54:55.878376 近畿 started.
2018-12-22 08:02:17.101300 中国 started.
2018-12-22 08:09:16.536612 四国 started.
2018-12-22 08:16:53.175393 九州 started.
2018-12-22 08:17:28.221753 沖縄 started.

# データの抽出作業

In [28]:
def get_year_list(ws, data_last_row):
    """
    対象のシートの西暦の数値のリストを取得する。
    
    Parameters
    ----------
    ws : openpyxl.worksheet.read_only.ReadOnlyWorksheet
        対象のシート。
    data_last_row : int
        データの最終行の行番号。
    
    Returns
    -------
    years_list : list of int
        西暦の値を格納したリスト。
    """
    row_num = data_last_row - START_ROW_NUM + 1
    target_row_num = START_ROW_NUM
    years_list = []
    while target_row_num <= data_last_row:
        cell = ws.cell(row=target_row_num + 1, column=COLUMN_NUM_YEAR)
        year = int(get_cell_value_str(cell=cell))
        years_list.extend(
            np.full(shape=(4,), fill_value=year, dtype=np.int).tolist()
        )
        target_row_num += 4
    years_list = years_list[:row_num]
    return years_list

In [33]:
def get_column_val_list(ws, data_last_row, column_num, dtype):
    """
    対象の列の値のリストを取得する。
    
    Parameters
    ----------
    ws : openpyxl.worksheet.read_only.ReadOnlyWorksheet
        対象のシート。
    data_last_row : int
        データの最終行の行番号。
    column_num : int
        対象の列番号。
    dtype : class
        データの型。以下のいずれかを指定する。
        - str
        - int
        - float
    
    Returns
    -------
    data_list : list
        対象の列の値を格納した1次元のリスト。
    """
    data_list = []
    target_row_num = START_ROW_NUM
    while target_row_num <= data_last_row:
        cell = ws.cell(row=target_row_num, column=column_num)
        cell_value = get_cell_value_str(cell=cell)
        cell_value = dtype(cell_value)
        data_list.append(cell_value)
        target_row_num += 1
        
    return data_list

In [34]:
def get_column_num_gender_start_by_type(gender_type):
    """
    対象の性別種別の、列の開始番号を取得する。
    
    Parameters
    ----------
    gender_type : int
        性別の種別値。以下のいずれかの定数を指定する。
        - GENDER_TYPE_BOTH
        - GENDER_TYPE_MALE
        - GENDER_TYPE_FEMALE
    
    Returns
    -------
    column_num_start : int
        対象の性別種別の、列の開始番号。
    
    Raises
    ------
    ValueError
        対応していない性別の種別値が指定された場合。
    """
    if gender_type == GENDER_TYPE_BOTH:
        return COLUMN_NUM_GENDER_START_BOTH
    if gender_type == GENDER_TYPE_MALE:
        return COLUMN_NUM_GENDER_START_MALE
    if gender_type == GENDER_TYPE_FEMALE:
        return COLUMN_NUM_GENDER_START_FEMALE
    err_msg = '対応していない性別種別が指定されています : '
    raise ValueError(err_msg)

In [42]:
def get_target_gender_table_df(sheet_name, gender_type):
    """
    対象のシートの対象の性別の種別の表のデータを抽出した
    データフレームを取得する。
    
    Parameters
    ----------
    sheet_name : str
        対象のシート名。
    gender_type : int
        性別の種別値。以下のいずれかの定数を指定する。
        - GENDER_TYPE_BOTH
        - GENDER_TYPE_MALE
        - GENDER_TYPE_FEMALE
    
    Returns
    -------
    df : DataFrame
        シート単体分の抽出されたデータのデータフレーム。カラムは、
        CN_から始まる定数名のカラムが設定される。また、整数のカラムの
        値に関しては INT_MULTIPLY_VAL の値分乗算された値が設定され、
        パーセンテージのカラムに関しては100で除算され、0.0～1.0の
        値に調整される。
    """
    column_num_gender_start = get_column_num_gender_start_by_type(
        gender_type=gender_type)
    ws = wb[sheet_name]
    data_last_row = get_data_last_row_num(ws=ws)
    df = pd.DataFrame(
        columns=COLUMN_NAME_LIST,
        index=np.arange(START_ROW_NUM, data_last_row + 1))
    df[CN_AREA] = sheet_name
    df[CN_YEAR] = get_year_list(ws=ws, data_last_row=data_last_row)
    df[CN_QUARTER] = get_column_val_list(
        ws=ws, data_last_row=data_last_row, 
        column_num=COLUMN_NUM_QUARTER, dtype=str)
    df[CN_GENDER] = gender_type
    
    for index, sr in VALUE_COLUMN_INFO_DF.iterrows():
        column_name = sr['column_name']
        column_num = column_num_gender_start + sr['additional_column_num']
        dtype=sr['dtype']
        df[column_name] = get_column_val_list(
            ws=ws, data_last_row=data_last_row, column_num=column_num,
            dtype=dtype)
        if dtype == int:
            df[column_name] *= INT_MULTIPLY_VAL
            continue
        if dtype == float:
            df[column_name] /= 100
            continue
    
    return df

In [44]:
df_list = []
for sheet_name in sheet_name_list:
    print(datetime.now(), sheet_name, 'started.')
    df = get_target_gender_table_df(
        sheet_name=sheet_name, gender_type=GENDER_TYPE_BOTH)
    df_list.append(df)
    
    df = get_target_gender_table_df(
        sheet_name=sheet_name, gender_type=GENDER_TYPE_MALE)
    df_list.append(df)
    
    df = get_target_gender_table_df(
        sheet_name=sheet_name, gender_type=GENDER_TYPE_FEMALE)
    df_list.append(df)
merged_df = pd.concat(df_list)

2018-12-22 22:44:25.576631 全国 started.
2018-12-22 22:46:56.766507 北海道 started.
2018-12-22 22:49:24.195593 東北 started.
2018-12-22 22:51:49.312143 南関東 started.
2018-12-22 22:54:16.690311 北関東・甲信 started.
2018-12-22 22:56:42.403387 北陸 started.
2018-12-22 22:59:05.187826 東海 started.
2018-12-22 23:01:31.865365 近畿 started.
2018-12-22 23:04:00.078893 中国 started.
2018-12-22 23:06:27.731780 四国 started.
2018-12-22 23:08:55.182114 九州 started.
2018-12-22 23:09:07.823629 沖縄 started.

In [46]:
merged_df.reset_index(drop=True, inplace=True)

In [47]:
merged_df

,area,year,quarter,gender,population_aged_15_years_old_and_over,labour_force_total,labour_force_employed_total,labour_force_employed_self_employed,labour_force_employed_employee,labour_force_unemployed,not_in_labour_force,labour_force_participation_rate,employment_rate,unemployment_rate
0,全国,1983,1～3月,1,91890000,57520000,55860000,9030000,41520000,1660000,34020000,0.626,0.608,0.029
1,全国,1983,4～6月,1,92170000,59660000,58070000,9770000,41990000,1590000,32120000,0.647,0.630,0.027
2,全国,1983,7～9月,1,92470000,59480000,57960000,9520000,42370000,1530000,32610000,0.643,0.627,0.026
3,全国,1983,10～12月,1,92760000,58880000,57420000,9210000,42450000,1460000,33460000,0.635,0.619,0.025
4,全国,1984,1～3月,1,93040000,57650000,55940000,8670000,42120000,1710000,34890000,0.620,0.601,0.030
5,全国,1984,4～6月,1,93330000,59980000,58340000,9570000,42610000,1640000,32870000,0.643,0.625,0.027
6,全国,1984,7～9月,1,93620000,59990000,58410000,9380000,42750000,1580000,33170000,0.641,0.624,0.026
7,全国,1984,10～12月,1,93890000,59470000,57960000,9140000,43110000,1510000,33970000,0.633,0.617,0.025
8,全国,1985,1～3月,1,94190000,58360000,56720000,8690000,42770000,1630000,35350000,0.620,0.602,0.028
9,全国,1985,4～6月,1,94500000,60330000,58780000,9570000,43050000,1540000,33640000,0.638,0.622,0.026
10,全国,1985,7～9月,1,94810000,60250000,58740000,9420000,43110000,1500000,34000000,0.635,0.620,0.025
11,全国,1985,10～12月,1,95100000,59600000,58030000,8970000,43580000,1570000,35020000,0.627,0.610,0.026
12,全国,1986,1～3月,1,95390000,58810000,57110000,8710000,43370000,1710000,36110000,0.617,0.599,0.029
13,全国,1986,4～6月,1,95710000,60810000,59130000,9420000,43770000,1680000,34240000,0.635,0.618,0.028
14,全国,1986,7～9月,1,96030000,60950000,59280000,9340000,43970000,1680000,34570000,0.635,0.617,0.028
15,全国,1986,10～12月,1,96350000,60230000,58630000,9020000,44060000,1600000,35590000,0.625,0.609,0.027
16,全国,1987,1～3月,1,96720000,59260000,57390000,8740000,43500000,1870000,36940000,0.613,0.593,0.032
17,全国,1987,4～6月,1,97040000,61530000,59670000,9430000,44280000,1860000,34950000,0.634,0.615,0.030
18,全国,1987,7～9月,1,97360000,61480000,59840000,9440000,44380000,1640000,35370000,0.631,0.615,0.027
19,全国,1987,10～12月,1,97690000,61080000,59520000,8980000,44960000,1560000,36120000,0.625,0.609,0.026
20,全国,1988,1～3月,1,98010000,60130000,58400000,8710000,44470000,1740000,37390000,0.614,0.596,0.029
21,全国,1988,4～6月,1,98320000,62390000,60840000,9480000,45380000,1550000,35460000,0.635,0.619,0.025
22,全国,1988,7～9月,1,98640000,62330000,60810000,9280000,45670000,1520000,35810000,0.632,0.616,0.024
23,全国,1988,10～12月,1,98990000,61790000,60390000,8920000,46000000,1400000,36730000,0.624,0.610,0.023
24,全国,1989,1～3月,1,99270000,60940000,59400000,8500000,45840000,1530000,37790000,0.614,0.598,0.025
25,全国,1989,4～6月,1,99570000,63400000,61940000,9200000,46940000,1470000,35630000,0.637,0.622,0.023
26,全国,1989,7～9月,1,99900000,63430000,62060000,9240000,46970000,1370000,36040000,0.635,0.621,0.022
27,全国,1989,10～12月,1,100230000,63020000,61720000,8910000,47400000,1310000,36730000,0.629,0.616,0.021
28,全国,1990,1～3月,1,100480000,62210000,60790000,8550000,47120000,1420000,37740000,0.619,0.605,0.023
29,全国,1990,4～6月,1,100750000,64480000,63110000,8940000,48520000,1360000,35790000,0.640,0.626,0.021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4446,沖縄,2011,4～6月,3,590000,280000,260000,20000,230000,20000,310000,0.475,0.448,0.057
4447,沖縄,2011,7～9月,3,590000,280000,270000,20000,240000,20000,310000,0.482,0.453,0.060
4448,沖縄,2011,10～12月,3,590000,290000,270000,20000,240000,10000,310000,0.483,0.460,0.049
4449,沖縄,2012,1～3月,3,590000,290000,270000,20000,240000,20000,310000,0.481,0.455,0.052
4450,沖縄,2012,4～6月,3,590000,300000,280000,20000,240000,20000,300000,0.496,0.462,0.068
4451,沖縄,2012,7～9月,3,590000,300000,280000,20000,250000,20000,290000,0.506,0.477,0.053
4452,沖縄,2012,10～12月,3,600000,300000,280000,20000,250000,20000,300000,0.502,0.471,0.057
4453,沖縄,2013,1～3月,3,600000,290000,280000,20000,250000,10000,300000,0.492,0.467,0.051
4454,沖縄,2013,4～6月,3,600000,290000,280000,20000,250000,10000,310000,0.490,0.467,0.048
4455,沖縄,2013,7～9月,3,600000,300000,290000,20000,250000,10000,300000,0.501,0.479,0.043
4456,沖縄,2013,10～12月,3,600000,300000,290000,20000,260000,10000,300000,0.504,0.484,0.040
4457,沖縄,2014,1～3月,3,600000,300000,290000,20000,260000,10000,300000,0.501,0.481,0.040
4458,沖縄,2014,4～6月,3,600000,300000,290000,20000,260000,10000,300000,0.498,0.477,0.043
4459,沖縄,2014,7～9月,3,600000,300000,280000,20000,250000,20000,300000,0.495,0.465,0.060
4460,沖縄,2014,10～12月,3,600000,300000,290000,20000,260000,10000,300000,0.503,0.480,0.049
4461,沖縄,2015,1～3月,3,600000,300000,290000,20000,260000,20000,300000,0.502,0.477,0.050
4462,沖縄,2015,4～6月,3,600000,320000,310000,20000,270000,10000,290000,0.526,0.506,0.038
4463,沖縄,2015,7～9月,3,600000,310000,300000,20000,270000,10000,290000,0.522,0.498,0.044
4464,沖縄,2015,10～12月,3,610000,310000,300000,20000,270000,10000,290000,0.516,0.494,0.038
4465,沖縄,2016,1～3月,3,610000,310000,300000,20000,270000,10000,300000,0.513,0.493,0.038
4466,沖縄,2016,4～6月,3,610000,320000,310000,20000,280000,10000,290000,0.529,0.506,0.044
4467,沖縄,2016,7～9月,3,610000,320000,310000,20000,280000,10000,290000,0.525,0.509,0.031
4468,沖縄,2016,10～12月,3,610000,320000,310000,20000,280000,10000,290000,0.525,0.509,0.031
4469,沖縄,2017,1～3月,3,610000,320000,310000,20000,280000,10000,290000,0.525,0.508,0.031
4470,沖縄,2017,4～6月,3,610000,320000,310000,20000,280000,10000,290000,0.529,0.508,0.037
4471,沖縄,2017,7～9月,3,610000,320000,310000,20000,280000,10000,290000,0.521,0.505,0.031
4472,沖縄,2017,10～12月,3,610000,320000,320000,20000,280000,10000,290000,0.529,0.514,0.028
4473,沖縄,2018,1～3月,3,610000,330000,320000,20000,290000,10000,280000,0.536,0.521,0.027
4474,沖縄,2018,4～6月,3,610000,340000,320000,20000,290000,10000,280000,0.546,0.529,0.030
4475,沖縄,2018,7～9月,3,610000,330000,320000,20000,290000,10000,290000,0.533,0.517,0.030